.about {
  margin-bottom: 42px;
}

.about__title {
  margin: 0;
  margin-bottom: 36px;

  font-family: @font-oswald;
  font-size: 36px;
  line-height: (60 / 36) * 1em;
  color: @black;
}

.about__list {
  .no-list;
}

.about__item {
  margin-bottom: 28px;
}

.about__text {
  margin: 0;
}
