.about {
  margin-bottom: 42px;
}

.about__title {
  margin: 0;
  margin-bottom: 36px;

  .oswald-regular (36px; 60px; @black);
}

.about__item {
  margin-bottom: 28px;
}

.about__text {
  margin: 0;
}
