.additional {
  padding-top: 29px;
  margin-bottom: 35px;

  border-top: 1px solid #ededed;
}

.additional__title {
  margin: 0;
  margin-bottom: 29px;

  font-family: @font-oswald;
  font-size: 24px;
  line-height: 1em;
  color: @black;
}

.additional__list {
  .no-list;

  margin-bottom: 39px;
}

.additional__item {
  padding-top: 14px;
  padding-bottom: 17px;

  border-bottom: 1px solid #cdcdcd;
}

.additional__item:first-child {
  border-top: 1px solid #cdcdcd;
}

.additional__name {
  margin: 0;
  margin-bottom: 10px;

  font-family: @font-oswald;
  font-size: 16px;
  line-height: 1em;
  color: @black;
  text-transform: uppercase;
}

.additional__description {
  display: flex;
  margin-bottom: 12px;
}

.additional__text {
  margin: 0;
}
