.contacts {
  display: flex;
  padding-top: 30px;
  padding-bottom: 24px;
}

.contacts--white {
  background-color: @white;
}

.contacts__title {
  width: 125px;
  margin: 0;

  .oswald-regular(16px;20px;@black);
  .uppercase();
}

.contacts__adress {
  width: 140px;
  margin: 0;
}
