.container {
  position: relative;

  width: auto;
  max-width: 430px;
  padding: 0 20px;
  margin: 0 auto;

  @media @tablet-width {
    width: auto;
    padding: 0 30px;
    max-width: 900px;
  }

  @media @desktop-width {
    max-width: 1260px;
    padding: 0 20px;
  }
}
