.contacts {
  display: flex;
  padding-top: 30px;
  padding-bottom: 24px;

  &--white {
    background-color: @white;
  }
}

.contacts__title {
  width: 125px;
  margin: 0;

  font-family: @font-oswald;
  font-size: 16px;
  line-height: (20 / 16) * 1em;
  color: @black;
  text-transform: uppercase;
}

.contacts__address {
  width: 140px;
  margin: 0;
}
