.example {
  padding-top: 30px;
  padding-bottom: 34px;

  background-color: @light-grey;
}

.example__title {
  margin: 0;
  margin-bottom: 28px;

  font-family: @font-oswald;
  font-size: 36px;
  line-height: (60 / 36) * 1em;
  color: @black;
}

.example__text {
  margin: 0;
  margin-bottom: 25px;
}

.example__list {
  margin-bottom: 20px;

  .no-list;
}

.example__item {
  width: 124px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__number {
  display: block;
  width: 122px;
  padding-top: 15px;
  padding-bottom: 15px;

  font-family: @font-oswald;
  font-size: 24px;
  line-height: 1em;
  color: @black;
  text-transform: uppercase;
  text-align: center;

  border: 1px solid #cdcdcd;
  border-radius: 2px;
}

.example__description {
  width: 87px;
  margin: 0;
  margin-top: -10px;

  text-align: center;

  background-color: @light-grey;
}

.example__image {
  margin-bottom: 35px;
}

.example__cost-wrapper {
  margin-bottom: 44px;
}

.example__cost {
  font-family: @font-oswald;
  font-size: 14px;
  line-height: (20 / 14) * 1em;
  color: @black;
  text-transform: uppercase;
}

.example__toggle-label {
  font-family: @font-oswald;
  font-size: 16px;
  line-height: (20 / 16) * 1em;
  color: @black;
  text-transform: uppercase;
}
