.example {
  padding-top: 30px;
  padding-bottom: 34px;

  background-color: @light-grey;
}

.example__title {
  margin: 0;
  margin-bottom: 28px;

  .oswald-regular(36px;60px;@black);
}

.example__text {
  margin: 0;
  margin-bottom: 25px;
}

.example__list {
  margin-bottom: 20px;
}

.example__item {
  width: 124px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__number {
  display: block;
  width: 122px;
  padding-top: 15px;
  padding-bottom: 15px;

  .oswald-regular(24px;24px;@black);
  .uppercase();
  text-align: center;

  border: 1px solid #cdcdcd;
  border-radius: 2px;
}

.example__description {
  width: 87px;
  margin: 0;
  margin-top: -10px;

  text-align: center;

  background-color: @light-grey;
}

.example__image {
  margin-bottom: 35px;
}

.example__cost-wrapper {
  margin-bottom: 44px;
}

.example__cost {
  .oswald-regular(14px;20px;@black);
  .uppercase();
}

.example__toggle-label {
  .oswald-regular(16px;20px;@black);
  .uppercase();
}
