.form__fieldset {
  position: relative;

  margin: 0 0 32px;
  padding: 0;

  border: none;

  &--goal {
    position: relative;
    padding: 27px 0 24px;

    @media @mobile-max-width {
      &::before,
      &::after {
        content: "";

        position: absolute;
        left: -20px;
        right: -20px;

        width: auto;
        height: 1px;

        background-color: #ebebeb;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }
    }
  }

  @media @tablet-width {
    margin: 0 35px 72px 40px;

    &--goal {
      border: 1px solid #ededed;
    }

    &--additional {
      margin-bottom: 54px;
    }
  }

  @media @desktop-width {
    margin: 0 0 72px;

    &--general,
    &--goal {
      width: 570px;
    }

    &--goal {
      height: auto;
      padding: 33px 0 31px;
    }

    &--additional {
      margin-bottom: 61px;
    }
  }
}

.form__fieldset-wrapper {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    z-index: -10;
    left: 0;
    right: -20px;
    top: 14px;

    width: auto;
    height: 3px;

    background-color: @green;

    @media @tablet-width {
      top: 18px;
      left: -30px;
      right: -30px;
      background: none;
      background-image: linear-gradient(to right, @green 30px, @white 30px, @white 150px, @green 150px);
    }

    @media @desktop-width {
      left: 0;
      right: -20px;
    }

    @media (min-width: 1440px) {
      left: -110px;
      right: -110px;

      background: none;
      background-image: linear-gradient(to right, @green 70px, @white 70px, @white 150px, @green 150px);
    }
  }
}

.form__legend {
  position: relative;

  display: inline-block;
  max-width: 240px;
  margin-bottom: 28px;
  padding-right: 24px;

  vertical-align: middle;
  font-family: @font-oswald;
  font-size: 24px;
  line-height: 1em;
  color: @black;

  background-color: @white;

  @media @tablet-width {
    max-width: 560px;
    margin: 0 0 68px;

    font-size: 36px;
  }
}

.form__input-wrapper {
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  @media @tablet-width {
    width: auto;
    margin-bottom: 20px;
  }

  @media @desktop-width {
    &--contacts {
      width: 570px;
      margin: 0;
    }
  }
}

.form__label {
  position: relative;

  margin-right: 15px;

  font-family: @font-oswald;
  font-size: 16px;
  line-height: (18 / 16) * 1em;
  color: @black;
  text-transform: uppercase;

  cursor: pointer;

  @media @tablet-width {
    margin-right: 19px;

    font-size: 20px;
  }

  &--radio,
  &--checkbox {
    padding-left: 46px;

    @media @tablet-width {
      padding-left: 60px;
    }
  }

  &--radio::before,
  &--checkbox::before {
    content: "";

    position: absolute;
    left: 0;
    top: -5px;

    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;

    @media @tablet-width {
      width: 40px;
      height: 40px;
    }
  }

  &--radio::before {
    border-radius: 50%;
  }
}

.form__input--radio:checked + .form__label--radio::after {
  content: "";

  position: absolute;
  left: 9px;
  top: 4px;

  width: 12px;
  height: 12px;

  background-color: @green;
  border-radius: 50%;

  @media @tablet-width {
    left: 12px;
    top: 6px;

    width: 18px;
    height: 18px;
  }
}

.form__input--checkbox:checked + .form__label--checkbox::after {
  content: "";

  position: absolute;
  left: 5px;
  top: 0;

  width: 20px;
  height: 12px;

  border: 2px solid @green;
  border-top: none;
  border-right: none;

  transform: rotate(-45deg);

  @media @tablet-width {
    left: 11px;
    top: 6px;
  }
}

.form__input--radio:hover + .form__label--radio::before,
.form__input--checkbox:hover + .form__label--checkbox::before {
  border-color: #bababa;
}

.form__input--radio:active + .form__label--radio,
.form__input--checkbox:active + .form__label--checkbox {
  opacity: 0.3;
}


.form__field {
  flex-grow: 1;
  height: 52px;
  padding: 14px 50px 13px 16px;

  font-family: @font-oswald;
  font-size: 16px;
  line-height: (18 / 16) * 1em;
  text-transform: uppercase;

  border: 1px solid #e6e6e6;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    padding-left: 15px;
    padding-right: 15px;

    border: 2px solid @grey;
  }

  &--textarea {
    resize: none;
    min-height: 148px;
  }

  @media @tablet-width {
    font-size: 20px;
  }
}

.form__icon {
  position: absolute;

  &--mail {
    right: 16px;
    top: 16px;

    @media @tablet-width {
      right: 20px;
      top: 20px;
    }
  }

  &--phone {
    right: 13px;
    top: 13px;

    @media @tablet-width {
      right: 21px;
      top: 17px;
    }
  }
}

.form__field:focus ~ .form__icon {
  fill: @green;
}

.form__radio-wrapper,
.form__check-wrapper {
  margin-bottom: 22px;


  &:last-child {
    margin-bottom: 0;
  }
}

.form__radio-wrapper {
  @media @tablet-width {
    padding-left: 27px;
  }
}

.form__check-wrapper {
  @media @desktop-width {
    width: 325px;

    &:last-child {
      width: 245px;
    }
  }
}

.form__button-wrapper {
  @media @tablet-width {
    display: flex;
    align-items: center;
  }
}

.form__button {
  width: 100%;
  margin: 0 auto 21px;

  border: none;

  @media @tablet-width {
    width: 283px;
    margin: 0 60px 0 0;
  }

  @media @desktop-width {
    width: 570px;
    margin-right: 80px;
  }
}

.form__note {
  line-height: 16px;

  @media @tablet-width {
    margin: 0;
  }
}

.form__column-wrapper {
  @media @desktop-width {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
