.page-header {
  margin-bottom: 29px;

  @media @tablet-width {
    margin-bottom: 67px;
  }

  @media @desktop-width {
    margin-bottom: 117px;
  }
}

.page-header__wrapper {
  @media @tablet-width {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
  }

  @media @desktop-width {
    padding: 54px 0 0;
  }
}

.page-header__logo {
  display: block;
  padding-top: 11px;
  padding-bottom: 16px;

  border-bottom: 1px solid #e6e6e6;

  @media @tablet-width {
    padding: 0;

    border: none;
  }
}
