.page-footer {
  padding-bottom: 22px;

  background-color: @light-grey;
}

.page-footer__map {
  margin-bottom: 39px;
}

.page-footer__map-image {
  display: block;
  margin: 0;
}

.page-footer__logo {
  display: block;
  padding-bottom: 31px;
  margin-bottom: 22px;

  border-bottom: 1px solid #d9d9d9;
}

.page-footer__social {
  padding-bottom: 21px;
  margin-bottom: 22px;

  border-bottom: 1px solid #d9d9d9;
}

.page-footer__copyright {
  text-decoration: none;
  color: @grey;

  &:active {
    color: @grey--down;
  }
}
