.page-main__title {
  margin: 0 auto 30px;

  font-family: @font-oswald;
  font-size: 36px;
  line-height: (60 / 36) * 1em;
  color: @black;

  @media @tablet-width {
    margin-bottom: 68px;

    font-size: 60px;
    line-height: 60px;
  }
}
