.page-header {
  @media @tablet-width {
    margin-bottom: 67px;
  }

  @media @desktop-width {
    margin-bottom: 117px;
  }
}

.page-header__wrapper {
  @media @tablet-width {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
  }

  @media @desktop-width {
    padding-top: 54px;
  }
}

.page-header__logo {
  position: relative;

  display: block;
  padding: 11px 0 17px;

  @media @mobile-max-width {
    &::after {
      content: "";

      position: absolute;
      left: -20px;
      right: -20px;
      bottom: 0;
      width: auto;
      height: 1px;

      background-color: #e6e6e6;
    }
  }

  @media @tablet-width {
    padding: 0;
    margin-right: auto;
  }
}
