.picking__title {
  margin: 0;
  margin-bottom: 37px;

  font-family: @font-oswald;
  font-size: 14px;
  line-height: (18 / 14) * 1em;
  color: @black;
  text-transform: uppercase;
}

.picking__form {
  margin: 0;
  margin-bottom: 30px;
}
