.present {
  height: 289px;

  background-color: @green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @media @retina-dpi, @retina-dppx {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  @media @tablet-width {
    height: 200px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media @retina-dpi, @retina-dppx {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  @media @desktop-width {
    height: auto;
    width: 245px;

    background-color: @green;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media @retina-dpi, @retina-dppx {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}

.present__text {
  width: 160px;
  margin: 0 auto;
  padding-top: 185px;

  color: @white;
  text-align: center;

  @media @tablet-width {
    margin-left: 423px;
    padding-top: 73px;

    text-align: left;
  }

  @media @desktop-width {
    margin: 0 auto;
    padding-top: 187px;

    text-align: center;
  }
}
