.product-more {
  margin-bottom: 20px;
}

.product-more__title {
  display: block;
  margin-bottom: 5px;
  padding-top: 82px;

  .oswald-regular(16px;20px;@black);
  .uppercase();
}

.product__more-text {
  margin: 0;
  margin-bottom: 20px;
}
