.product-item__name {
  margin: 0;
  margin-bottom: 12px;

  font-family: @font-oswald;
  font-size: 16px;
  line-height: (20 / 16) * 1em;
  color: @black;
  text-transform: uppercase;
}

.product-item__info {
  width: 140px;
}

.product-item__value {
  text-align: right;
}
