.product-item__name {
  margin: 0;
  margin-bottom: 12px;

  .oswald-regular(16px;20px;@black);
  .uppercase();
}

.product-item__info {
  width: 140px;
}

.product-item__value {
  text-align: right;
}
