.products {
  @media @tablet-width {
    margin-bottom: 68px;
  }

  @media @desktop-width {
    margin-bottom: 77px;
  }
}

.products__list {
  .no-list;

  @media @tablet-width {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.products__item {
  position: relative;

  margin-bottom: 25px;

  @media @mobile-max-width {
    &::before {
      content: "";

      position: absolute;
      left: -20px;
      right: -20px;
      top: 0;

      width: auto;
      height: 1px;

      background-color: #e6e6e6;
    }
  }

  @media @tablet-width {
    width: 45.7%;
    margin-bottom: 58px;

    border-top: none;
    background-image: linear-gradient(@white 82px, @light-grey 82px);

    &--small {
      padding-top: 36px;
    }

    &:last-child {
      background: none;
    }

    &:last-child,
    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }

  @media @desktop-width {
    margin-bottom: 59px;
    width: 245px;

    &:last-child,
    &:nth-last-child(2),
    &:nth-last-child(3),
    &:nth-last-child(4) {
      margin-bottom: 0;
    }
  }
}
