.promo {
  margin-bottom: 22px;
  padding-top: 32px;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.promo__header {
  margin: 0;
  margin-bottom: 22px;

  .oswald-regular(36px;36px;@white);
}

.promo__text {
  margin: 0;

  .oswald-regular(14px;14px;@white);
  .uppercase();
}
