.social__list {
  .no-list;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 127px;
  margin: 0 auto 0 72px;

  @media (min-width: 321px) {
    margin: 0 auto;
  }

  @media @tablet-width {
    width: 124px;
    margin: 0 auto 0 15px;
  }
}

.social__icon {
  fill: #666666;

  &:hover,
  &focus {
    fill: @green;
  }

  &:active {
    fill: @green;
    opacity: 0.3;
  }

  &--mobile {
    @media @tablet-width {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media @tablet-width {
      display: block;
    }
  }
}
