.social__list {
  .no-list;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 125px;
  margin: 0 auto;
}

.social__icon {
  fill: #666666;

  &:hover,
  &focus {
    fill: @green;
  }

  &:active {
    fill: @green;
    opacity: 0.3;
  }

  &--mobile {
    @media @tablet-width {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media @tablet-width {
      display: block;
    }
  }
}
