@tablet-width: 768px;
@tablet-content-width: 708px;
@desktop-width: 1300px;
@desktop-content-width: 1220px;

@white: #fff;
@white--hover: rgba(255,255,255,0.6);
@white--down: rgba(255,255,255,0.3);

@black: #000;
@black--hover: rgba(0,0,0,0.6);
@black--down: rgba(0,0,0,0.3);

@light-grey: #f2f2f2;
@light-grey--down: #ebebeb;

@grey: #444;
@grey--hover: rgba(68,68,68,0.6);
@grey--down: rgba(68,68,68,0.3);

@green: #68b738;
@green--down: #5eaa2f;

@font-default: Arial, sans-serif;
@font-oswald: "Oswald", Arial, sans-serif;

.no-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
